
$background-color:  #85678F;

$pass-color:        #8fb347;
$fail-color:        #A31F1F;
$else-color:        #9CB4F4;

//
// // ----------------------------------------------------------------------------
// // Widget-pull-requests styles
// // ----------------------------------------------------------------------------
.widget-pull-requests {

  background-color: $background-color;

  h3 {
    font-size: 95px;
  }

  ul li {
    display: inline;
    margin-left: 5px;
   }

  .fa {
    font-size: 25px;
  }

  .red {
    color: $fail-color;
  }

  .green {
    color: $pass-color;
  }

  .else {
    color: $else-color;
  }
}
