- content_for :title do
  Briteverify dashboard

%div#wavegirls-img(data-id="wavegirls" data-title="wavegirls" data-view="Wavegirls")
%div(data-id="refresher" data-view="Refresher" style="padding: 0px")

.gridster
  %ul
    %li(data-col=1 data-row=1 data-sizex=1 data-sizey=1)
      %div(data-view="WorldClock" data-title="Samara" data-timezone="Europe/Samara")
    %li(data-col=1 data-row=1 data-sizex=1 data-sizey=1)
      %div(data-view="CircleCi" data-id="circle-ci-britecontact-shopify-poc-master")
    %li(data-col=1 data-row=1 data-sizex=1 data-sizey=1)
      %div(data-view="CircleCi" data-id="circle-ci-britecontact-shopify-poc-develop")
    %li(data-col=1 data-row=1 data-sizex=1 data-sizey=1)
      %div(data-view="WorldClock" data-title="Toronto" data-timezone="America/Toronto")
    %li(data-col=1 data-row=1 data-sizex=1 data-sizey=1)
      %div(data-view="ServerStatus" data-id="server_status-briteverify" data-title="Server Status")
    %li(data-col=1 data-row=1 data-sizex=2 data-sizey=1)
      %div(data-view="Currency" data-id="currency" data-title="USD/RUB")
    %li(data-col=1 data-row=1 data-sizex=1 data-sizey=1)
      %div(data-view="PullRequests" data-title='Pull requests in britecontact/shopify-poc' data-id="pr_widget-briteverify")
