- content_for :title do
  Learntrials dashboard

%div#wavegirls-img(data-id="wavegirls" data-title="wavegirls" data-view="Wavegirls")
%div(data-id="refresher" data-view="Refresher" style="padding: 0px")

.gridster
  %ul
    %li(data-col=1 data-row=1 data-sizex=1 data-sizey=1)
      %div(data-view="Clock" data-id="clock")
    %li(data-col=1 data-row=1 data-sizex=1 data-sizey=1)
      %div(data-view="CircleCi" data-id="circle-ci-tundreus-learn_trials-master" data-title="Master")
    %li(data-col=1 data-row=1 data-sizex=1 data-sizey=1)
      %div(data-view="CircleCi" data-id="circle-ci-tundreus-learn_trials-develop" data-title="Develop")
    %li(data-col=1 data-row=1 data-sizex=1 data-sizey=1)
      %div(data-view="CircleCi" data-id="circle-ci-tundreus-learn_trials-qa" data-title="QA")
    %li(data-col=1 data-row=1 data-sizex=1 data-sizey=1)
      %div(data-view="ServerStatus" data-id="server_status" data-title="Server Status")
    %li(data-col=1 data-row=1 data-sizex=3 data-sizey=1)
      %div(data-view="Currency" data-id="currency" data-title="USD/RUB")
