- content_for :title do
  Learntrials dashboard
.gridster
  %ul
    %li(data-col=1 data-row=1 data-sizex=1 data-sizey=1)
      %div(data-view="Clock" data-id="clock")
    -# %li{"data-col" => "1", "data-row" => "1", "data-sizex" => "1", "data-sizey" => "1"}
    -#   %div{"data-height" => "200", "data-id" => "synergy", "data-max" => "100", "data-min" => "0", "data-suffix" => "%", "data-title" => "Synergy", "data-view" => "Meter", "data-width" => "200"}
    -# %li{"data-col" => "1", "data-row" => "1", "data-sizex" => "1", "data-sizey" => "2"}
    -#   %div{"data-id" => "buzzwords", "data-moreinfo" => "# of times said around the office", "data-title" => "Buzzwords", "data-unordered" => "true", "data-view" => "List"}
    -# %li{"data-col" => "1", "data-row" => "1", "data-sizex" => "1", "data-sizey" => "1"}
    -#   %div{"data-id" => "valuation", "data-moreinfo" => "In billions", "data-prefix" => "$", "data-title" => "Current Valuation", "data-view" => "Number"}
    -# %li{"data-col" => "1", "data-row" => "1", "data-sizex" => "2", "data-sizey" => "1"}
    -#   %div{"data-id" => "convergence", "data-title" => "Convergence", "data-view" => "Graph", :style => "background-color:#ff9618"}
