- content_for :title do
  Learntrials dashboard

%div#wavegirls-img(data-id="wavegirls" data-title="wavegirls" data-view="Wavegirls")
%div(data-id="refresher" data-view="Refresher" style="padding: 0px")

.gridster
  %ul
    %li(data-col=1 data-row=1 data-sizex=1 data-sizey=1)
      %div(data-view="WorldClock" data-title="Samara" data-timezone="Europe/Samara")
    %li(data-col=1 data-row=1 data-sizex=1 data-sizey=1)
      %div(data-view="CircleCi" data-id="circle-ci-tundreus-learn_trials-master")
    %li(data-col=1 data-row=1 data-sizex=1 data-sizey=1)
      %div(data-view="CircleCi" data-id="circle-ci-tundreus-learn_trials-develop")
    %li(data-col=1 data-row=1 data-sizex=1 data-sizey=1)
      %div(data-view="CircleCi" data-id="circle-ci-tundreus-learn_trials-qa")
    %li(data-col=1 data-row=1 data-sizex=1 data-sizey=1)
      %div(data-view="ServerStatus" data-id="server_status-learntrials" data-title="Server Status")
    %li(data-col=1 data-row=1 data-sizex=2 data-sizey=1)
      %div(data-view="Currency" data-id='usd_rub' data-title="USD/RUB")
    %li(data-col=1 data-row=1 data-sizex=1 data-sizey=1)
      %div(data-view="PullRequests" data-id="pr_widget-learntrials")

:javascript
  var w = $(window)   // returns height of browser viewport
  var margin = 5
  Dashing.numColumns = 4
  Dashing.numRows = 2
  Dashing.widget_margins = [margin, margin]
  console.log(margin * Dashing.numColumns * 2)
  Dashing.widget_base_dimensions = [(w.width() - (margin * Dashing.numColumns * 2)) / Dashing.numColumns, (w.height() - (margin * Dashing.numRows * 2)) / Dashing.numRows]
