- content_for :title do
  Briteverify dashboard

%div#wavegirls-img(data-id="wavegirls" data-title="wavegirls" data-view="Wavegirls")
%div(data-id="refresher" data-view="Refresher" style="padding: 0px")

.gridster
  %ul
    %li(data-col=1 data-row=1 data-sizex=1 data-sizey=1)
      %div(data-view="WorldClock" data-title="Ulsk" data-timezone="Europe/Samara")
    %li(data-col=2 data-row=1 data-sizex=1 data-sizey=1)
      %div(data-view="Currency" data-id='usd_rub' data-title="USD/RUB")
    %li(data-col=3 data-row=1 data-sizex=1 data-sizey=1)
      %div(data-view="WorldClock" data-title="Hua hin" data-timezone="Asia/Bangkok")

    %li(data-col=1 data-row=2 data-sizex=1 data-sizey=1)
      %div(data-view="Currency" data-id='btc_usd' data-title="BTC/USD")
    %li(data-col=2 data-row=2 data-sizex=1 data-sizey=1)
      %div(data-view="WorldClock" data-title="Charlotte" data-timezone="America/Toronto")
    %li(data-col=3 data-row=2 data-sizex=1 data-sizey=1)
      %div(data-view="Currency" data-id='eur_usd' data-title="EUR/USD")
